<h1>Witamy w klinice doktora Rzepki</h1>

<p>
    @Html.ActionLink("Wyświetl listę wszystkich pacjentów", "PatientsList", "Patients", null, new {@class = "homeBtn"})
    @Html.ActionLink("Dodaj nowego pacjenta", "RegisterPatient", "Patients", null, new {@class = "homeAdd"})
</p>