<h2 class="center-align">Witamy w klinice doktora Rzepki</h2>
<br/>
<p>
    @Html.ActionLink("Wyświetl listę wszystkich pacjentów", "PatientsList", "Patients", null, new {@class = "btn"})
    @Html.ActionLink("Dodaj nowego pacjenta", "RegisterPatient", "Patients", null, new {@class = "btn"})
</p>