@model APBD_21._05.ViewModel.ShowDetailsModel

<p>
    <p>@Html.DisplayFor(model => model.PatientDetails.FirstName)</p>
    <p>@Html.DisplayFor(model => model.PatientDetails.LastName)</p>
    <p>@Html.DisplayFor(model => model.PatientDetails.Birthdate.Date)</p>
</p>